[Unit]
Description=INET256 API Service
Wants=network-online.target inet256-init-config.service
After=inet256-init-config.service

[Service]
Restart=always
ExecStartPre=-rm /run/inet256.sock
ExecStart=inet256 daemon --config=/etc/inet256/config.yml
ExecStopPost=-rm /run/inet256.sock
ProtectHome=true
ProtectSystem=true
SyslogIdentifier=inet256

[Install]
WantedBy=default.target
